
.logo{
    width: 200px;
}

.project-nav{
    margin-left: 40px; 
    margin-right: 40px;
    border-bottom: 1px solid #E8E8E8;
}

.global-nav-proj-form{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    width: 100%;
}

.global-nav{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    width: 100%;
    border-bottom: 1px solid #E8E8E8;
    padding: 15px 0px;
}

.nav-items-wrapper > a {
    margin: 20px;
}

.left-menu {
    padding-left: 10px;
    text-align: left;
    display: flex;
}

.right-menu {
    padding-right: 15px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

.global-logo {
    display: flex;
    justify-content: center;
}

.global-logo > a {
    margin: auto;
}

.profile-img{
    width: 50px;
    border-radius: 10px;
    margin: auto;
}

.prof-img-cont{
    display: flex;
    margin: 0 20px;
}

.logout-btn{
    font-size: 15px;
    color: #656969;
    font-family: sans-serif;
    margin: 0 20px;
}

.nav-items-wrapper{
    margin: auto 0 auto 0;
}

.nav-items-wrapper > a{
    font-size: 15px;
    color: #656969;
}